.content-root {
    .card-content {
        * {
            display: inline;
        }
    }
    .card {
        img {
            width: 400px;
            height: 400px;
        }
    }
}
